.server-error {


    /* position: absolute; */
    /* top: 100px;  */
    background-color: white;
    max-width: 882px;
    margin: 0 auto;
    height: fit-content;
    z-index: 100;
    transition: all 1s;
    opacity: 0.8;
    display: none;
  }
  
  .server-error-visible {
    display: flex;
  }